<!-- Create Article Component, a child of App Component. 
having Arcticle of Sachin Tendulkar.
Create any one child Component for Article Component.
Display whole design template by applying css -->

<div class="container">
    
    <article>
        <div class="card">
            <img src="../../assets/images/sachin-tendulkar.jpg" class="card-img-top" alt="sachin-tendulkar"
                class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Sachin Tendulkar</h5>
                <p class="card-text">NEW DELHI: On this day in 2012, legendary cricketer Sachin Tendulkar became the
                    only batsman in the history of cricket to register 100 international centuries.

                    He had achieved the feat against Bangladesh in the Asia Cup at the Shere Bangla National Stadium in
                    Mirpur.
                </p>
                <p>
                    "#OnThisDay in 2012 The legendary @sachin_rt scripted history when he became the only batter in the
                    history of cricket to score 100 international hundreds," the Board of Control for Cricket in India
                    (BCCI) tweeted.

                    Sent in to bat first, India had witnessed a bad start as the side lost its opener Gautam Gambhir
                    pretty early in the innings. However, Tendulkar found support in Virat Kohli and the duo formed a
                    113-run stand. After Kohli's dismissal, Suresh Raina had come out in the middle.

                    Continuing his brilliant form, Tendulkar brought up his 100th ton in the 44th over of the innings.
                    The Master Blaster went on to play a knock of 114 runs from 147 balls and took India's total to
                    289/5 in the allotted fifty overs.

                    However, Bangladesh managed to chase down India's total in the final over of the innings to register
                    a victory by five wickets.

                    Tendulkar had made his debut for India at the age of 16 in 1989. He aggregated 34,357 runs across
                    formats, which is 6,000 runs more than the second-placed former Sri Lanka cricketer Kumar
                    Sangakkara.

                    Regarded as one of the greatest batsmen ever, Tendulkar holds the record of being the highest
                    run-scorer of all time in international cricket, having notched up 18,426 runs in ODIs and 15,921
                    runs in Test matches.

                    The Master Blaster ended his career with 51 centuries in ODIs, while he had 49 in the longest format
                    of the game.
                </p>
                <app-article-child></app-article-child>
            </div>
        </div>
    </article>
</div>
