<div class="container">
    <form [formGroup]="crudForm" (submit)="studentForm()">
        <div class="row">
            <div class="col-lg-6 mt-5">
                <input type="text" class="form-control" id="fName" placeholder="Student Name" formControlName="fName">
            </div>
            <div class="col-lg-6 mt-5">
                <input type="text" class="form-control" id="nickName" placeholder="Student Nick Name" formControlName="nickName">
            </div>
            <div class="col-lg-6 mt-5">
                <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
            </div>
            <div class="col-lg-6 mt-5">
                <input type="text" class="form-control" id="rollNumber" placeholder="Roll Number" formControlName="rollNumber">
            </div>
            <div class="col-lg-6 mt-5">
                <button type="submit" class="btn btn-info" [disabled]="crudForm.invalid" [ngClass]="isSubmit ? 'show-btn':'hide-btn'">Add Student</button>
                <button type="button" class="btn btn-info" [disabled]="crudForm.invalid" (click)="updateStudent()" [ngClass]="isUpdate ? 'show-btn':'hide-btn'">Update</button>
            </div>
        </div>
    </form>

    <div class="mt-5">
        <input type="text" class="form-control" id="searchName" placeholder="Search by student name"     [(ngModel)]="fName">
    </div>
    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student Nick Name</th>
                <th>Email</th>
                <th>Roll No</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of studentArray | filter:fName;  let i = index;">

                <!-- <td>{{i+1}}</td> -->
                <td>{{item.fName}}</td>
                <td>{{item.nickName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.rollNumber}}</td>
                <td><button (click)="deleteStudent(i)" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg></button></td>
                  <td>
                      <button class="btn btn-primary" (click)="editStudent(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg>
                      </button>
                  </td>
            </tr>
        </tbody>
    </table>
</div>

  

 